.about-page {
    background-color: var(--color-pinkGray);
    padding: 6rem 8rem;
}

.about-heading {
    text-align: center;
}

.about-content {
    overflow: hidden;
}

.absolute-content {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.about-us {
    background-color: var(--color-white);
    width: 400px;
    padding: 4rem;
    color: var(--color-dark-brown);
    position: absolute;
    top: 56%;
    left: 41%;
    box-shadow: 20px 20px 0.7em;

}

.about-line {
    width: 150px;
    height: 2px;
    background-color: var(--color-pink);
    margin-bottom: 1rem;
}

.about-us h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.about-us p {
    font-size: 1.2rem;
}

.rose-massage {
    position: absolute;
    left: 16%;
    top: 20%;
    width: 500px;
}


.rose-bath {
    width: 500px;
    left: 44%;
    top: 17%;
    position: absolute;
}


@media (max-width: 40em) {
    .main-heading {
        font-size: 2rem;
        width: 100%;
        margin-bottom: 4rem;
    }
    .about-page {
        padding: 6rem 0;
        height: auto;
    }

    .rose-massage {
        width: 300px;
        position: unset;
        grid-row: 1;
    }

    .rose-bath {
        position: unset;
        grid-row: 3;
        width: 300px;

    }

    .about-us{
        position: unset;
        grid-row: 2;
        width: 350px;
        padding: 2.8rem 1rem;
        box-shadow: none;
    }

    .about-us h2 {
        font-size: 1.2rem;
        margin: 1rem 0;
    }
    
    .about-us p {
        font-size: 1rem;
    }

    .absolute-content{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        place-items: center;
        gap: 0;
    }

    .about-content {
        height: 120vh;
    }
}