.feedback-page {
    background-color: var(--color-brownish);
    padding: 8rem 10rem;
}

.book-animation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    position: relative;
    width: 500px;
    height: 600px;
    transition: transform 0.5s;
}

.book-animation {
    margin-top: 6rem;
}

.book-animation > * {
    margin: 2rem;
} 

.feedback-page button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.feedback-page button img {
    width: 60px;
}

#prev-button {
    transform: translateX(-180px);
}

#prev-button img {
    transform: scaleX(-1);
}

#next-button {
    transform: translateX(180px);
}

.paper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 1500px;
}

.front, 
.back {
    color: var(--color-dark-brown);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    border-left: 4px solid var(--color-brownish);
    z-index: 1;
    backface-visibility: hidden;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.back-content {
    transform: rotateY(180deg);
}

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

.back {
    z-index: 0;
}

#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

.bg-pink {
    background-color: pink;
}

/* client reviews */ 

#f1 {
    position: relative;
    background-color: var(--color-pink);
    overflow: hidden;
    color: var(--color-white);
    padding: 1rem;
}

#f1 h1 {
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    width: 20%;
    top: 2rem;
    left: 2rem;
}

#f1 .small-rose {
    width: 6rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

#b3 {
    background-color: var(--color-pink);
}

/* reviews */

#b1, #f2, #b2, #f3 {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--color-white);
}

.back .review, 
.front .review {
    width: 80%;
    align-items: center;
    margin: 0 4rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.back .review h3, 
.front .review h3{
    font-weight: bold;
}

.back .review:nth-child(2),
.front .review:nth-child(2){
    grid-row: 2;
}

.back .review:nth-child(1) img,
.front .review:nth-child(1) img {
    grid-column: 3;
}

.back .review:nth-child(2) img,
.front .review:nth-child(2) img {
    grid-column: 1;
    grid-row: 1;
}

.back .review:nth-child(2) h3,
.front .review:nth-child(2) h3 {
    grid-column: 3;
}

.back .review q,
.front .review q {
    grid-row: 2;
    grid-column: 1/4;
}

@media (max-width: 40em) {
    .feedback-page {
        padding: 2rem;
        padding-bottom: 0;
        display: none;
    }
}