<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients Feedback</title>
    <link rel="stylesheet" href="./styles.css">
    <script src="./main.js" defer></script>
</head>
<body>
    <button id="prev-btn">
        prev
    </button>
    
    <div id="book" class="book">
        <!-- Paper 1 -->
        <div class="paper" id="p1">
            <div class="front">
                <div id="f1" class="front-content">
                    <h1>Front 1</h1>
                </div>
            </div>
            <div class="back">
                <div class="back-content" id="b1">
                    <h1>Back 1</h1>
                </div>
            </div>
        </div>
        <!-- Paper 2 -->
        <div class="paper" id="p2">
            <div class="front">
                <div id="f2" class="front-content">
                    <h1>Front 2</h1>
                </div>
            </div>
            <div class="back">
                <div class="back-content" id="b2">
                    <h1>Back 2</h1>
                </div>
            </div>
        </div>
        <!-- Paper 3 -->
        <div class="paper" id="p3">
            <div class="front">
                <div id="f3" class="front-content">
                    <h1>Front 3</h1>
                </div>
            </div>
            <div class="back">
                <div class="back-content" id="b3">
                    <h1>Back 3</h1>
                </div>
            </div>
        </div>
        <!-- Paper 4 -->
        <div class="paper" id="p4">
            <div class="front">
                <div id="f4" class="front-content">
                    <h1>Front 4</h1>
                </div>
            </div>
            <div class="back">
                <div class="back-content" id="b4">
                    <h1>Back 4</h1>
                </div>
            </div>
        </div>        
    </div>

    <button id="next-btn">
        next
    </button>
</body>
</html>