@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font-base: 'Noto Serif', serif; 
    --color-pink: #E28282;
    --color-white: #FFFFFF;
    --color-brownish: #3F3232;
    --color-black: #000000;
    --color-pinkGray: #5B4848;
    --color-shadow: #433131;
    --color-dark-brown: #251A1A;
    --color-pinkLightGray : #E3D3D3;
}


* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-family: var(--font-base);
}


.main-heading {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-white);
}



@media only screen and (max-width: 768px) {
    .aos-animate {
  
      -o-transition-property: none !important;
      -moz-transition-property: none !important;
      -ms-transition-property: none !important;
      -webkit-transition-property: none !important;
      transition-property: none !important;
  
      -o-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      -webkit-transform: none !important;
      transform: none !important;
  
      -webkit-animation: none !important;
      -moz-animation: none !important;
      -o-animation: none !important;
      -ms-animation: none !important;
      animation: none !important;
    }
  }